<html>
  <head>
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
      footer p,
      a {
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div style="margin: auto; padding: 40px">
      <hr style="border: 1px solid #73c2fb" />
      <div style="display: flex; justify-content: space-between">
        <h1 style="letter-spacing: 2px">
          Tech<span style="color: #73c2fb">Certify</span>Solutions
        </h1>
        <img
          width="90px"
          src="https://media.licdn.com/dms/image/D4E0BAQHEw9jk10b53A/company-logo_100_100/0/1695552397511?e=1714608000&v=beta&t=GmHLX4MaLj7_g4HlnQicOHK6LKPznB5eV-npVQqPtLc"
        />
      </div>

      <div style="margin-top: 30px">
        <p style="font-size: large; font-weight: bold">Dear <%= name %>,</p>
        <p style="font-size: large">
          We are thrilled to officially offer you a virtual internship for the
          position of "Data Analyst Intern" at TechCertifySolutions. Your
          application and demonstrated skills have impressed us, showcasing your
          potential and enthusiasm for this role. We are eager to welcome you to
          our team and provide you with a valuable learning experience.
        </p>
        <p style="font-size: large">
          Throughout this internship, you will have the opportunity to gain
          hands-on experience in various aspects of data analysis, including
          data interpretation, visualization, and deriving meaningful insights.
          The structured program is designed to allow you to actively contribute
          to our data analysis initiatives, providing you with a unique and
          enriching experience.
        </p>
        <p style="font-size: large">
          Upon successful completion of the internship, you will be presented
          with a Certificate of Completion and a Letter of Recommendation. These
          acknowledgments will undoubtedly serve as valuable assets as you
          pursue a successful career in Data Analysis.
        </p>
        <p style="font-size: large">
          We are genuinely excited about the prospect of having you on board and
          are confident that your skills and dedication will make a significant
          contribution to our projects.
        </p>
        <p style="font-size: large">
          Congratulations once again on being selected as a Data Analyst Intern
          at TechCertifySolutions. We look forward to collaborating with you and
          ensuring you have a fulfilling and rewarding learning experience.
        </p>
      </div>
      <p style="font-size: medium; margin: 0">Best regards,</p>

      <svg
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        width="104.000000pt"
        height="79.000000pt"
        viewBox="0 0 144.000000 89.000000"
        preserveAspectRatio="xMidYMid meet"
      >
        <g
          transform="translate(0.000000,89.000000) scale(0.100000,-0.100000)"
          fill="#000000"
          stroke="none"
        >
          <path
            d="M433 490 c-18 -10 -41 -36 -52 -57 -23 -46 -65 -87 -83 -81 -9 3 -13
     23 -13 59 0 49 -2 54 -23 57 -13 2 -34 -3 -47 -12 -21 -14 -24 -14 -29 1 -5
     13 -16 14 -59 9 -62 -9 -97 -34 -73 -52 12 -9 14 -18 6 -45 -13 -45 -13 -49 5
     -49 9 0 20 20 30 55 15 51 47 87 63 71 7 -7 4 -82 -4 -108 -3 -12 0 -18 10
     -18 8 0 17 13 21 28 8 40 42 92 60 92 12 0 15 -13 15 -55 0 -55 0 -55 31 -55
     17 0 40 5 51 11 17 9 23 8 30 -5 11 -20 48 -21 74 -1 25 19 44 19 44 0 0 -22
     58 -19 98 5 40 25 42 25 42 -1 0 -36 23 -15 35 33 12 50 40 98 55 98 12 0 12
     -23 0 -75 -5 -22 -7 -48 -4 -57 7 -24 51 -23 91 2 32 19 32 19 38 0 8 -25 38
     -26 77 -2 28 16 30 16 39 0 6 -10 21 -18 35 -18 27 0 99 33 109 51 5 7 19 -1
     41 -22 l33 -32 58 27 c65 31 95 54 87 67 -3 5 -22 -2 -42 -16 -47 -32 -76 -33
     -69 -2 23 101 16 113 -36 67 -19 -16 -40 -30 -47 -30 -7 0 -25 -13 -39 -28
     -14 -16 -41 -37 -58 -47 -46 -27 -57 -13 -42 54 8 39 8 60 0 77 -22 50 -96 17
     -140 -62 -27 -48 -87 -92 -104 -75 -5 5 -4 33 3 66 6 31 9 63 6 71 -7 18 -40
     18 -56 -1 -7 -8 -16 -15 -21 -15 -5 0 -9 7 -9 15 0 8 -4 15 -10 15 -8 0 -15
     -29 -23 -90 -1 -8 -26 -28 -55 -44 -67 -35 -78 -28 -63 43 20 93 -14 125 -86
     81z m57 -54 c0 -26 -8 -41 -35 -65 -20 -17 -41 -31 -46 -31 -20 0 1 74 29 103
     35 37 52 35 52 -7z m472 -1 c-3 -34 -68 -103 -83 -88 -13 13 7 72 33 100 30
     32 54 26 50 -12z m226 -32 c-2 -14 -8 -28 -14 -30 -17 -6 -26 27 -13 43 18 22
     31 16 27 -13z"
          />
        </g>
      </svg>

      <p style="font-size: medium; margin: 0">
        Date : <span id="datetime"></span>
      </p>
    </div>
    <footer
      style="
        background-color: #34b4c2;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 30px 10px;
        margin-top: 20px;
      "
    >
      <p style="display: flex; align-items: center; gap: 8px">
        <svg
          height="20px"
          width="20px"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 511.999 511.999"
          xml:space="preserve"
          fill="#000000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              style="fill: #34b4c2"
              d="M342.315,337.711l-25.981,25.977c-2.223-1.212-4.625-2.415-7.048-3.777 c-22.302-12.368-66.331-42.73-98.447-74.846c-32.186-32.195-62.665-76.239-75.022-98.541c-1.332-2.344-1.876-3.877-3.088-6.071 l24.371-22.904l2.525-2.525c19.309-19.309,19.309-50.613,0-69.923l-38.077-38.076c-19.416-19.416-50.935-19.291-70.197,0.278 l-10.149,10.31c-6.61,8.452-12.216,18.284-16.321,28.768c-3.795,10.015-6.223,19.601-7.274,29.146 c-9.274,76.667,25.755,146.747,120.809,241.84c131.435,131.395,236.67,122.286,241.246,121.774 c9.934-1.172,20.155-4.323,29.86-8.077c10.405-4.066,20.321-9.756,28.733-16.366l10.315-10.142 c19.587-19.259,19.719-50.793,0.295-70.216l-36.63-36.63C392.927,318.405,361.624,318.405,342.315,337.711z"
            ></path>
            <g>
              <path
                style="fill: #34b4c2211E48"
                d="M372.047,495.597c-0.003,0-0.005,0-0.006,0c-27.727,0-127.338-9.149-245.036-126.81 C28.013,269.755-8.332,195.837,1.571,113.681c1.196-10.789,3.884-21.59,8.218-33.02c0.021-0.053,0.042-0.108,0.063-0.163 c4.615-11.79,11.061-23.141,18.636-32.83c0.378-0.483,0.781-0.943,1.211-1.379l10.149-10.31 c12.426-12.625,29.025-19.577,46.741-19.577c17.519,0,33.987,6.822,46.374,19.207l38.076,38.077 c12.386,12.387,19.209,28.857,19.209,46.375s-6.822,33.987-19.209,46.375l-2.526,2.525c-0.118,0.116-0.236,0.234-0.357,0.347 l-15.335,14.412c12.583,21.277,39.75,60.234,69.435,89.929c30.105,30.105,70.192,57.821,91.219,70.069l17.427-17.425 c12.387-12.386,28.856-19.206,46.373-19.206c17.519,0,33.987,6.822,46.374,19.207l36.631,36.63 c12.462,12.463,19.283,29.03,19.207,46.654c-0.074,17.621-7.036,34.131-19.601,46.486l-10.315,10.14 c-0.426,0.42-0.875,0.814-1.345,1.183c-9.737,7.65-21.09,14.119-32.831,18.709c-12.728,4.925-23.782,7.887-33.843,9.073 C380.589,495.282,377.361,495.597,372.047,495.597z M39.945,92.186c-3.348,8.847-5.406,17.062-6.292,25.111 c-0.006,0.057-0.013,0.113-0.019,0.169c-8.602,71.12,25.064,137.317,116.2,228.494 c108.922,108.886,197.619,117.353,222.208,117.353c0.002,0,0.003,0,0.005,0c3.81,0,5.814-0.21,5.834-0.211 c7.222-0.852,15.701-3.175,25.816-7.09c8.513-3.327,16.776-7.982,23.906-13.477l9.65-9.487c6.381-6.274,9.914-14.655,9.953-23.603 c0.039-8.949-3.425-17.361-9.753-23.688l-36.63-36.63c-6.289-6.289-14.652-9.753-23.546-9.753c-8.894,0-17.256,3.464-23.545,9.751 l-25.981,25.977c-5.062,5.065-12.854,6.184-19.14,2.759c-0.846-0.462-1.719-0.92-2.61-1.388c-1.508-0.794-3.059-1.613-4.618-2.489 c-22.018-12.21-67.425-42.977-101.953-77.504c-34.51-34.521-65.944-80.886-77.69-102.065c-0.969-1.711-1.63-3.098-2.165-4.216 c-0.294-0.615-0.578-1.228-0.972-1.939c-3.567-6.458-2.303-14.515,3.073-19.569l24.187-22.734l2.349-2.347 c6.287-6.289,9.751-14.651,9.751-23.545c0-8.896-3.464-17.256-9.753-23.546l-38.077-38.077c-6.289-6.289-14.651-9.753-23.545-9.753 c-8.994,0-17.424,3.53-23.734,9.939l-9.477,9.627C47.955,75.333,43.321,83.587,39.945,92.186z"
              ></path>
              <path
                style="fill: #34b4c2211E48"
                d="M403.287,258.505c-4.376,0-8.775-1.022-12.856-3.091c-9.548-4.843-15.492-14.484-15.535-25.183 h-78.273c-24.305,0-44.077-19.772-44.077-44.077v-29.729c0-24.305,19.774-44.077,44.077-44.077h10.444 c8.915,0,16.142,7.228,16.142,16.142c0,8.914-7.227,16.142-16.142,16.142h-10.444c-6.504,0-11.793,5.29-11.793,11.793v29.729 c0,6.502,5.29,11.793,11.793,11.793h94.415c8.915,0,16.142,7.228,16.142,16.142v8.307l69.821-51.104l-69.821-51.106v8.305 c0,8.914-7.227,16.142-16.142,16.142H364.94c-8.915,0-16.142-7.228-16.142-16.142s7.227-16.142,16.142-16.142h9.956 c0.042-10.697,5.987-20.339,15.535-25.183c9.584-4.862,20.922-3.935,29.59,2.408l80.365,58.823 c7.272,5.324,11.614,13.882,11.613,22.894c-0.002,9.012-4.342,17.569-11.614,22.891l-80.365,58.822 C415.045,256.647,409.187,258.505,403.287,258.505z"
              ></path>
            </g>
          </g>
        </svg>
        9555810066
      </p>
      <p style="display: flex; align-items: center; gap: 8px">
        <svg
          width="20px"
          height="20px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#000000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M4 18L9 12M20 18L15 12M3 8L10.225 12.8166C10.8665 13.2443 11.1872 13.4582 11.5339 13.5412C11.8403 13.6147 12.1597 13.6147 12.4661 13.5412C12.8128 13.4582 13.1335 13.2443 13.775 12.8166L21 8M6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19Z"
              stroke=""
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
        </svg>
        hr@techcertifysolutions.com
      </p>
      <a
        href="https://in.linkedin.com/company/techcertifysolutions"
        style="
          display: flex;
          align-items: center;
          gap: 8px;
          text-decoration: none;
          color: black;
        "
      >
        <svg
          width="20px"
          height="20px"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              fill="#0A66C2"
              d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z"
            ></path>
          </g>
        </svg>
        hr@techcertifysolutions.com
      </a>
    </footer>
    <script>
      // Get current date and time
      var now = new Date();
      // Format the date as dd/mm/yyyy
      var day = now.getDate();
      var month = now.getMonth() + 1; // Month is zero-based, so add 1
      var year = now.getFullYear();

      // Pad single-digit day and month with leading zeros
      day = day < 10 ? "0" + day : day;
      month = month < 10 ? "0" + month : month;

      var formattedDate = day + "/" + month + "/" + year;

      document.getElementById("datetime").innerHTML = formattedDate;
    </script>
  </body>
</html>
