<html>
<div>
  <div dir="ltr">
    <div>
      <div dir="ltr">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


        <div>
          <div dir="ltr">
            <div>
              <div dir="ltr">
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


                <div>
                  <div dir="ltr">
                    <div class="gmail_quote">
                      <div dir="ltr" class="gmail_attr"></div>
                      <div dir="ltr">
                        <div>
                          <div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation"
                              style="background-color:#fff">
                              <tbody>
                                <tr>
                                  <td>
                                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0"
                                      role="presentation">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <table style="padding-top:10px;padding-bottom:10px" align="center"
                                              border="0" width="580" cellpadding="0" cellspacing="0"
                                              role="presentation">
                                              <tbody>
                                                <tr>
                                                  <td width="100%"
                                                    style="text-align:left;font-weight:400;vertical-align:top;border-top:0px;border-right:0px;border-bottom:0px;border-left:0px">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                      role="presentation"
                                                      style="color:#000;background-color:#fff;border-radius:0;width:580px;margin:0 auto"
                                                      width="580.00">
                                                      <tbody>
                                                        <tr>
                                                          <td width="100%"
                                                            style="text-align:left;font-weight:400;vertical-align:top;border-top:0px;border-right:0px;border-bottom:0px;border-left:0px">
                                                            <table width="100%" border="0" cellpadding="0"
                                                              cellspacing="0" role="presentation">
                                                              <tbody>
                                                                <tr>
                                                                  <td
                                                                    style="padding-bottom:10px;padding-top:10px;width:100%;padding-right:0px;padding-left:0px">
                                                                    <div align="center" style="line-height:10px">
                                                                      <br><br>
                                                                      <img
                                                                        src="https://share1.cloudhq-mkt3.net/images_2843941_e3640530-9d8a-013c-b970-64434b0c2d74_4934"
                                                                        alt="Screenshot_from_2024-01-25_12-01-08-removebg-preview.png"
                                                                        width="266" height="72">
                                                                    </div>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <hr
                                      style="max-width:580px;min-height:0;max-height:0;font-size:0;display:none;overflow:hidden">

                                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0"
                                      role="presentation">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <table align="center" border="0" cellpadding="0" cellspacing="0"
                                              role="presentation"
                                              style="border:1px solid #585858;color:#000;background-color:#fff;width:580px;margin:0 auto"
                                              width="580" bgcolor="#ffffff">
                                              <tbody>
                                                <tr>
                                                  <td width="100%"
                                                    style="text-align:left;font-weight:400;vertical-align:top;border-top:0px;border-right:0px;border-bottom:0px;border-left:0px">
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                      role="presentation" style="word-break:break-word">
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            style="padding-bottom:35px;padding-left:20px;padding-right:20px;padding-top:35px">
                                                            <div
                                                              style="direction:ltr;font-family:Roboto,Tahoma,Verdana,Segoe,sans-serif;font-size:16px;letter-spacing:0px;line-height:150%;text-align:left">
                                                              <h3
                                                                style="color:rgb(69,72,69);font-weight:600;margin:0px 0px 20px;direction:ltr;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:23px;letter-spacing:normal;line-height:120%;text-align:left">
                                                                <span style="color:#353535"><span
                                                                    style="background-color:#fee6a1">Congratulations!</span>
                                                                </span>
                                                              </h3>
                                                              <p style="line-height:inherit;margin:0px">
                                                                <font color="#363b36">Dear <%= name %>,</font><span
                                                                  class="gmail-im" style="color:rgb(80,0,80)"><br><br>
                                                                  <font color="#363b36">You have been selected for the
                                                                    Virtual Internship Program at TechCertifySolutions.
                                                                  </font>
                                                                </span>
                                                              </p>
                                                              <p style="line-height:inherit;margin:0px"><span
                                                                  class="gmail-im" style="">
                                                                  <font color="#363b36"><br></font><b
                                                                    style="color:rgb(80,0,80)">Note: Find Your offer
                                                                    Letter Below</b>
                                                                </span></p>
                                                              <p style="line-height:inherit;margin:0px"><span
                                                                  class="gmail-im" style="">
                                                                  <font color="#500050"><b><br></b></font>
                                                                  <font color="#363b36" style="color:rgb(80,0,80)">
                                                                    Kindly upload your welcome letter on our LinkedIn
                                                                    page </font><a
                                                                    href="https://in.linkedin.com/company/techcertifysolutions"
                                                                    rel="noopener" target="_blank"
                                                                    style="color:rgb(80,0,80)">
                                                                    <font color="#3d85c6">TechCertifySolutions</font>
                                                                  </a>
                                                                  <font color="#6fa8dc" style="color:rgb(80,0,80)">
                                                                  </font>
                                                                  <font color="#363b36" style="color:rgb(80,0,80)">and
                                                                    tag us.</font>
                                                                </span><br><br>
                                                                <font color="#363b36">Next Steps are:</font><br><br>
                                                                <font color="#363b36">1. We will share the task and
                                                                  study material.</font><br>
                                                                <font color="#363b36">2. Therefore, maintain a separate
                                                                  GitHub repository for all the tasks and Learning code.
                                                                </font><br>
                                                                <font color="#363b36">3. Additionally, we will arrange a
                                                                  class with our mentor .</font>
                                                              </p>
                                                              <p style="line-height:inherit;margin:0px"><br>
                                                                <font color="#363b36">Note: You guys need to create your
                                                                  Updated resume and share it with us via email so that
                                                                  we can share it to our Associate company as referral .
                                                                </font><br><br>
                                                                <font color="#363b36">The internship completion
                                                                  certificate will be sent to deserving candidates after
                                                                  submitting the final task.</font><br><br>
                                                                <font color="#363b36">Best Regards,</font><br><b
                                                                  style="color:rgb(54,59,54)">TechCertifySolutions</b>
                                                                <font color="#363b36">.
                                                                </font>
                                                              </p>
                                                            </div>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <hr
                                      style="max-width:580px;min-height:0;max-height:0;font-size:0;display:none;overflow:hidden">

                                    <table align="center" width="580" cellpadding="0" cellspacing="0"
                                      role="presentation" style="padding-bottom:20px">
                                      <tbody width="580">
                                        <tr width="580">
                                          <td width="580">
                                            <table align="center" border="0" cellpadding="0" cellspacing="0"
                                              role="presentation"
                                              style="color:#000;background-color:#fff;width:580px;margin:0 auto"
                                              width="580.00">
                                              <tbody>
                                                <tr>
                                                  <td width="580"
                                                    style="text-align:left;font-weight:400;padding-bottom:10px;padding-left:40px;padding-right:40px;padding-top:10px;vertical-align:top;border-top:0px;border-right:0px;border-bottom:0px;border-left:0px">
                                                    <table align="center" width="500" border="0" cellpadding="10"
                                                      cellspacing="0" role="presentation" style="word-break:break-word">
                                                      <tbody>
                                                        <tr width="580">
                                                          <td align="center" width="580">
                                                            <div style="font-family:sans-serif" width="580">
                                                              <div align="center" width="580"
                                                                style="font-size:12px;font-family:Roboto,Tahoma,Verdana,Segoe,sans-serif;color:#9d9d9d;line-height:1.2">
                                                                <p style="line-height:inherit;margin:0;font-size:12px;text-align:center"
                                                                  align="center">
                                                                  <span style="font-size:10px;text-align:center">Follow
                                                                    us</span>
                                                                </p>
                                                              </div>
                                                            </div>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <table width="100%" border="0" align="center" cellpadding="0"
                                                      cellspacing="0" role="presentation">
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            style="text-align:center;padding-right:0px;padding-left:0px">
                                                            <div align="center">
                                                              <table width="130px" border="0" cellpadding="0"
                                                                cellspacing="0" role="presentation"
                                                                style="display:inline-block">
                                                                <tbody>
                                                                  <tr>
                                                                    <td style="padding:0 5px 0 5px">
                                                                      <a href="https://in.linkedin.com/company/techcertifysolutions"
                                                                        target="_blank"><img
                                                                          src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/linkedin@2x.png"
                                                                          width="32" height="32" alt="LinkedIn"
                                                                          title="LinkedIn"
                                                                          style="height:auto;display:block;border:0"></a>
                                                                    </td>
                                                                    <td style="padding:0 5px 0 5px">
                                                                      <img
                                                                        src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/telegram@2x.png"
                                                                        width="32" height="32" alt="Telegram"
                                                                        title="Telegram"
                                                                        style="height:auto;display:block;border:0">
                                                                    </td>
                                                                    <td style="padding:0 5px 0 5px">
                                                                      <a href="https://www.techcertifysolutions.com/"
                                                                        target="_blank"><img
                                                                          src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/circle-color/youtube@2x.png"
                                                                          width="32" height="32" alt="YouTube"
                                                                          title="YouTube"
                                                                          style="height:auto;display:block;border:0"></a>
                                                                    </td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </div>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                      role="presentation" align="center" style="word-break:break-word">
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            style="padding-left:10px;padding-right:10px;padding-top:10px">
                                                            <div style="font-family:sans-serif">
                                                              <div
                                                                style="font-size:12px;font-family:Roboto,Tahoma,Verdana,Segoe,sans-serif;color:#9d9d9d;line-height:1.2">
                                                                <p
                                                                  style="line-height:inherit;margin:0;text-align:center ;align:center">
                                                                  <span style="font-size:10px">Copyright © 2024
                                                                    TechCertifySolutions</span>
                                                                </p>
                                                                <p style="line-height:inherit;margin:0;text-align:center"
                                                                  align="center">
                                                                  <span style="font-size:10px">All rights
                                                                    reserved.</span>
                                                                </p>
                                                              </div>
                                                            </div>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>


                          </div>
                          <p style="margin:0px">

                          </p>


                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p style="margin:0px">

                </p>


                <span style="line-height:0px;height:0px;width:0px"
                  id="r_589894_chq_template_marker_in_email_span"></span><span
                  class="draft_save_sequence_id_1706171810445"></span>
              </div>
            </div>


            <span style="line-height:0px;height:0px;width:0px"
              id="r_558050_chq_template_marker_in_email_span"></span><br>
          </div>
        </div><span class="draft_save_sequence_id_1706174913256"></span><span
          class="draft_save_sequence_id_1706175391612"></span>
      </div>
    </div>
    <p style="margin:0px">

    </p>


    <span style="line-height:0px;height:0px;width:0px" id="r_452871_chq_template_marker_in_email_span"></span><br><span
      class="draft_save_sequence_id_1706175918659"></span><span class="draft_save_sequence_id_1706176024740"></span>
  </div>
  </body>
</div>

</html>